# Global env file, the same across all files

TARGET_DOMAIN=                                      # str: the domain you want to target for all modification
DOMAIN_TO_REPLACE_TARGET_DOMAIN=                    # str: used in mass-replace-domain.py; domain that will replace the target domain; matches substrings
IGNORE_VAULT_ID=                                    # str: the vault you want to ignore (if any)